{% if (reviews) %}
	<div class="testimonial-carousel owl-carousel wow zoomInDown" data-wow-delay="0.2s">
		{% for rev in reviews %}
			<div class="testimonial-item" data-dot="<img class='img-fluid' src='{{ asset(rev.getUrlCaptura()) }}' alt=''>">
				<div class="testimonial-inner text-center p-5">
					<div class="d-flex align-items-center justify-content-center mb-4">
						<div class="testimonial-inner-img border border-primary border-3 me-4" style="width: 100px; height: 100px; border-radius: 50%;">
							<img src="{{ asset(rev.autor.getUrlAvatar()) }}" class="img-fluid rounded-circle" alt="{{ rev.autor}}">
						</div>
						<div>
							<h5 class="mb-2">{{ rev.titulo }}</h5>
							<p class="mb-0">{{ rev.autor }}</p>
						</div>
					</div>
					<div class="w-50 text-center aux">
						<p class="fs-7">{{ rev.comentario }}</p>
						<img src='{{ asset(rev.getUrlCaptura()) }}' alt="">
					</div>

					{# <div class="d-flex justify-content-center">
						<i class="fas fa-star text-primary"></i>
						<i class="fas fa-star text-primary"></i>
						<i class="fas fa-star text-primary"></i>
						<i class="fas fa-star text-primary"></i>
						<i class="fas fa-star text-primary"></i>
					</div> #}
				</div>
			</div>
		</div>
	{% endfor %}
</div>
{% else %}
<p class="mb-0">Anímate y sé el primero en comentar</p>
{% endif %}
