{% if (reviews) %}
	{% for review in reviews %}
		<div class="d-flex align-items-center mb-4">
			<div class="bg-light d-flex align-items-center justify-content-center mb-3" style="width: 90px; height: 90px; border-radius: 50px;"><img src="{{ asset(review.getUrlCaptura()) }}" alt="" class="h-50"></div>
			<div class="ms-4">
				<h4>{{ review.titulo }}</h4>
				<a href={{ path('videojuegos_show', {'id': review.juego.id} ) }}>{{ review.juego }}</a>
				<p class="mb-0">{{ review.comentario }}</p>
				{% if app.user and (review.autor.username == app.user.username or is_granted('ROLE_ADMIN')) %}
					<a href="{{ path('review_edit', {'idJ': review.juego.id, 'idR': review.id}) }}">
						<i class="fas fa-pen"></i>
						Editar</a>
					{{ include('review/_delete_form.html.twig') }}
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% else %}
	<p class="mb-0">Anímate y participa</p>
{% endif %}
