<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
	<div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
		<span class="sr-only">Loading...</span>
	</div>
</div>
<!-- Spinner End -->
<!-- Navbar & Hero Start -->
<div class="container-fluid header position-relative overflow-hidden p-0">
	<nav class="navbar navbar-expand-lg fixed-top navbar-light px-4 px-lg-5 py-3 py-lg-0">
		<a href={{ path('index') }} class="navbar-brand p-0">
			<h1 class="display-6 text-primary m-0">
				<i class="fas fa-gamepad me-3"></i>CommentJuegos</h1>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
			<span class="fa fa-bars"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="navbar-nav ms-auto py-0">
				{% if app.request.pathinfo=='/index' or app.request.pathinfo=='/' %}
					<a href={{ path('index') }} class="nav-item nav-link active">Home</a>
				{% else %}
					<a href={{ path('index') }} class="nav-item nav-link">Home</a>
				{% endif %}

				{% if app.request.pathinfo=='/about' %}
					<a href={{ path('about') }} class="nav-item nav-link active">Sobre nosotros</a>
				{% else %}
					<a href={{ path('about') }} class="nav-item nav-link">Sobre nosotros</a>
				{% endif %}

				<div class="nav-item dropdown">
					{% if app.request.pathinfo=='/videojuegos' or app.request.pathinfo=='/videojuegos/playstation' or app.request.pathinfo=='/videojuegos/xbox' or app.request.pathinfo=='/videojuegos/nintendo' or app.request.pathinfo=='/videojuegos/retro' %}
						<a href={{ path('videojuegos_index') }} class="nav-item nav-link active">Videojuegos</a>
					{% else %}
						<a href={{ path('videojuegos_index') }} class="nav-item nav-link">Videojuegos</a>
					{% endif %}
					<div class="dropdown-menu m-0">
						<a href={{ path('videojuegos_index') }} class="dropdown-item">Ver todo</a>
						<a href={{ path('videojuegos_index') }} class="dropdown-item">Playstation</a>
						<a href={{ path('videojuegos_index') }} class="dropdown-item">Xbox</a>
						<a href={{ path('videojuegos_index') }} class="dropdown-item">Nintendo</a>
						<a href={{ path('videojuegos_index') }} class="dropdown-item">Retro</a> {# TODO: Poner bien rutas #}
					{% if is_granted('IS_AUTHENTICATED') and is_granted('ROLE_ADMIN')  %}
						<div class="dropdown-divider"></div>
          				<a class="dropdown-item" href={{ path('videojuego_new') }}>Añadir nuevo videojuego</a>
					{% endif %}
					</div>
				</div>
			</div>
			{% if is_granted('IS_AUTHENTICATED') %}
				{#TODO: Cambiar los path de aquí cuando sepa 100% como se pasa el id del profile.  #}
				<a href="/perfil/{{ app.user.id }}" class="btn btn-primary rounded-pill text-white py-2 px-4">Mi perfil -
					{{ app.user.username }}</a>
				<a href={{ path('app_logout') }} class="btn btn-primary rounded-pill text-white py-2 px-4  <?php if (Utils::esOpcionMenuActiva('/logout')) echo 'active'; ?>">Log Out</a>
			{% else %}
				<a href={{ path('app_login') }} class="btn btn-light border border-primary rounded-pill text-primary py-2 px-4 me-4">Log In</a>
				<a href={{ path('app_register')}} class="btn btn-primary rounded-pill text-white py-2 px-4">Sign Up</a>
			{% endif %}
		</div>
	</nav>
